body{
    background-color: #F0F1F2;
    font-family: 'Martel', serif;
    width: 75%;
    /*border-style: solid;
    border-color: black;*/
    margin: auto;
    color: grey;
}


/**********************
******SIDENAV**********
***********************/

    .sidenav{
        display: none;
    }

        .smallmenu{
            display: none;
            background: none;
            width: 100%;
            border: none;
            padding: 0;
            margin: 0;
            margin-top: 8%;
            font-family: 'Martel', serif;


        }

            .smallmenu h1{
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                margin:0;
                margin-top: 1%;
                /*border-style: solid;
                border-color: red;*/
                text-align: right;
                float: right;
                overflow: hidden;
                font-size: 20pt;  
                width: 80%;
            }

                .smallmenu h1 a{
                    text-decoration: none;
                    color: grey;
                    font-weight: 400;
                    background: none;
                    border: none;
                }

                .smallmenu h1 a:hover{
                    color: lightgray;
                    background: none;
                    border: none;
                }

        span {
            font-size: 30px;
            padding:0;
            margin: 0;
            width: 20%;
            float: left;
            color: grey;
            text-align: left;
        }


/**********************
******NAVIGATION*******
***********************/

    header{
        width: 100%;
        /*border-style: solid;
        border-color: black;*/
        margin-bottom: 5%;
        margin-top: 4%;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        padding-left:0;
        overflow: hidden;

    }


        header h1{
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0%;
            margin:auto;
            /*border-style: solid;
            border-color: red;*/
            text-align: right;
            float: right;
            overflow: hidden;
            font-size: 20pt;
            font-weight: 400;
            width: 30%;
        }

                header h1 a{
                    text-decoration: none;
                    color: grey;
                    font-weight: 400;
                }

                header h1 a:hover{
                    color: lightgray;
                }


    .navigation{
        /*width: 500px;*/
        /*border-style: solid;
        border-color: green;*/
        margin:auto;
        padding: 0;
        overflow: hidden;
        float: left;
        align-items: flex-end;
        width: 70%;
    }


        .navigation ul{
            /*width: 450px;*/
            /*border-style: solid;
            border-color: red;*/
            float: left;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: left;
            padding-top: 10px;
        }


            .navigation li{
                display: inline;
                /*border-style: solid;
                border-color: grey;*/
                padding: 0;
                margin-right: 20px;
                margin-left: 0;
                margin-bottom: 0;
                margin-top: 0;
                align-items: flex-end;
            }

            .navigation #lastli{
                margin-right: 0px;

            }
            
               .navigation li a{ 
                    text-decoration:none;
                    color:grey;
                    font-size:15px;
                    font-weight: 400;
                }   

                .navigation ul li a:hover{
                    color:lightgray;
}


/**********************
*******GALLERY*********
******SLIDESHOW********
***********************/

#slideshow {
    margin-bottom: 5%;
    padding: 0;
    position: relative;
    width: 100%;
    /*border: solid red;*/
}

    ul {
      list-style: none;
    }


        #slideshow img{
            width: 100%;
            padding: 0;
            margin-bottom: 5%;   
        }

          li.first-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            /*name, duration, timing function, iteration count*/
            animation: cycle 30s ease-in-out infinite;
            -moz-animation: cycle 30s ease-in-out infinite;
            -webkit-animation: cycle 30s ease-in-out infinite;
          }
          li.second-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cycletwo 30s ease-in-out infinite;
            -moz-animation: cycletwo 30s ease-in-out infinite;
            -webkit-animation: cycletwo 30s ease-in-out infinite;
          }
          li.third-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            animation: cyclethree 30s ease-in-out infinite;
            -moz-animation: cyclethree 30s ease-in-out infinite;
            -webkit-animation: cyclethree 30s ease-in-out infinite;
          }
          li.fourth-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cyclefour 30s ease-in-out infinite;
            -moz-animation: cyclefour 30s ease-in-out infinite;
            -webkit-animation: cyclefour 30s ease-in-out infinite;
          }
          li.fifth-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cyclefive 30s ease-in-out infinite;
            -moz-animation: cyclefive 30s ease-in-out infinite;
            -webkit-animation: cyclefive 30s ease-in-out infinite;
          }
          li.sixth-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cyclesix 30s ease-in-out infinite;
            -moz-animation: cyclesix 30s ease-in-out infinite;
            -webkit-animation: cyclesix 30s ease-in-out infinite;
          }
          li.seventh-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cycleseven 30s ease-in-out infinite;
            -moz-animation: cycleseven 30s ease-in-out infinite;
            -webkit-animation: cycleseven 30s ease-in-out infinite;
          }
          li.eighth-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cycleeight 30s ease-in-out infinite;
            -moz-animation: cycleeight 30s ease-in-out infinite;
            -webkit-animation: cycleeight 30s ease-in-out infinite;
          }
          li.ninth-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cyclenine 30s ease-in-out infinite;
            -moz-animation: cyclenine 30s ease-in-out infinite;
            -webkit-animation: cyclenine 30s ease-in-out infinite;
          }
          li.tenth-animation {
            position:absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            top: 0;
            animation: cycleten 30s ease-in-out infinite;
            -moz-animation: cycleten 30s ease-in-out infinite;
            -webkit-animation: cycleten 30s ease-in-out infinite;
          }
          :hover li {
            animation-play-state:running;
          }  

/*
-Define the total number of images to use in the slider
    5
-Define the length of animation for each image
    5 seconds
-Define the total duration of the animation
    Multiply the total number of images by the duration of each image:
    5 images × 5 seconds = 25 seconds
-Calculate how many keyframes equals one second
    Divide the total number of keyframes by the total duration of the animation.
    100 keyframes / 25 seconds = 4 keyframes
    4 keyframes = 1 second
*/

@-webkit-keyframes cycle {
  0%    { opacity: 1; } /*1 second = 2%*/
  8%    { opacity: 1; } 
  10%   { opacity: 0; } 
  98%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-webkit-keyframes cycletwo {
  0%    { opacity: 0; } /*1 second = 2%*/
  8%    { opacity: 0; } 
  10%   { opacity: 1; } 
  18%   { opacity: 1; } 
  20%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-webkit-keyframes cyclethree {
  0%    { opacity: 0; } /*1 second = 2%*/
  18%   { opacity: 0; } 
  20%   { opacity: 1; } 
  28%   { opacity: 1; } 
  30%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-webkit-keyframes cyclefour {
  0%    { opacity: 0; } /*1 second = 2%*/
  28%   { opacity: 0; } 
  30%   { opacity: 1; } 
  38%   { opacity: 1; } 
  40%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-webkit-keyframes cyclefive {
  0%    { opacity: 0; } /*1 second = 2%*/
  38%   { opacity: 0; } 
  40%   { opacity: 1; } 
  48%   { opacity: 1; } 
  50%   { opacity: 0; } 
  100%  { opacity: 0; } 
}


@-webkit-keyframes cyclesix {
  0%    { opacity: 0; } /*1 second = 2%*/
  48%   { opacity: 0; } 
  50%   { opacity: 1; } 
  58%   { opacity: 1; } 
  60%   { opacity: 0; } 
  100%  { opacity: 0; } 
}


@-webkit-keyframes cycleseven {
  0%    { opacity: 0; } /*1 second = 2%*/
  58%   { opacity: 0; } 
  60%   { opacity: 1; } 
  68%   { opacity: 1; } 
  70%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-webkit-keyframes cycleeight {
  0%    { opacity: 0; } /*1 second = 2%*/
  68%   { opacity: 0; } 
  70%   { opacity: 1; } 
  78%   { opacity: 1; } 
  80%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-webkit-keyframes cyclenine {
  0%    { opacity: 0; } /*1 second = 2%*/
  78%   { opacity: 0; } 
  80%   { opacity: 1; } 
  88%   { opacity: 1; } 
  90%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-webkit-keyframes cycleten {
  0%    { opacity: 0; } /*1 second = 2%*/
  88%   { opacity: 0; } 
  90%   { opacity: 1; } 
  98%   { opacity: 1; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cycle {
  0%    { opacity: 1; } /*1 second = 2%*/
  8%    { opacity: 1; } 
  10%   { opacity: 0; } 
  98%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-moz-keyframes cycletwo {
  0%    { opacity: 0; } /*1 second = 2%*/
  8%    { opacity: 0; } 
  10%   { opacity: 1; } 
  18%   { opacity: 1; } 
  20%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cyclethree {
  0%    { opacity: 0; } /*1 second = 2%*/
  18%   { opacity: 0; } 
  20%   { opacity: 1; } 
  28%   { opacity: 1; } 
  30%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cyclefour {
  0%    { opacity: 0; } /*1 second = 2%*/
  28%   { opacity: 0; } 
  30%   { opacity: 1; } 
  38%   { opacity: 1; } 
  40%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cyclefive {
  0%    { opacity: 0; } /*1 second = 2%*/
  38%   { opacity: 0; } 
  40%   { opacity: 1; } 
  48%   { opacity: 1; } 
  50%   { opacity: 0; } 
  100%  { opacity: 0; } 
}


@-moz-keyframes cyclesix {
  0%    { opacity: 0; } /*1 second = 2%*/
  48%   { opacity: 0; } 
  50%   { opacity: 1; } 
  58%   { opacity: 1; } 
  60%   { opacity: 0; } 
  100%  { opacity: 0; } 
}


@-moz-keyframes cycleseven {
  0%    { opacity: 0; } /*1 second = 2%*/
  58%   { opacity: 0; } 
  60%   { opacity: 1; } 
  68%   { opacity: 1; } 
  70%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cycleeight {
  0%    { opacity: 0; } /*1 second = 2%*/
  68%   { opacity: 0; } 
  70%   { opacity: 1; } 
  78%   { opacity: 1; } 
  80%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cyclenine {
  0%    { opacity: 0; } /*1 second = 2%*/
  78%   { opacity: 0; } 
  80%   { opacity: 1; } 
  88%   { opacity: 1; } 
  90%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@-moz-keyframes cycleten {
  0%    { opacity: 0; } /*1 second = 2%*/
  88%   { opacity: 0; } 
  90%   { opacity: 1; } 
  98%   { opacity: 1; } 
  100%  { opacity: 0; } 
}

@keyframes cycle {
  0%    { opacity: 1; } /*1 second = 2%*/
  8%    { opacity: 1; } 
  10%   { opacity: 0; } 
  98%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes cycletwo {
  0%    { opacity: 0; } /*1 second = 2%*/
  8%    { opacity: 0; } 
  10%   { opacity: 1; } 
  18%   { opacity: 1; } 
  20%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@keyframes cyclethree {
  0%    { opacity: 0; } /*1 second = 2%*/
  18%   { opacity: 0; } 
  20%   { opacity: 1; } 
  28%   { opacity: 1; } 
  30%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@keyframes cyclefour {
  0%    { opacity: 0; } /*1 second = 2%*/
  28%   { opacity: 0; } 
  30%   { opacity: 1; } 
  38%   { opacity: 1; } 
  40%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@keyframes cyclefive {
  0%    { opacity: 0; } /*1 second = 2%*/
  38%   { opacity: 0; } 
  40%   { opacity: 1; } 
  48%   { opacity: 1; } 
  50%   { opacity: 0; } 
  100%  { opacity: 0; } 
}


@keyframes cyclesix {
  0%    { opacity: 0; } /*1 second = 2%*/
  48%   { opacity: 0; } 
  50%   { opacity: 1; } 
  58%   { opacity: 1; } 
  60%   { opacity: 0; } 
  100%  { opacity: 0; } 
}


@keyframes cycleseven {
  0%    { opacity: 0; } /*1 second = 2%*/
  58%   { opacity: 0; } 
  60%   { opacity: 1; } 
  68%   { opacity: 1; } 
  70%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@keyframes cycleeight {
  0%    { opacity: 0; } /*1 second = 2%*/
  68%   { opacity: 0; } 
  70%   { opacity: 1; } 
  78%   { opacity: 1; } 
  80%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@keyframes cyclenine {
  0%    { opacity: 0; } /*1 second = 2%*/
  78%   { opacity: 0; } 
  80%   { opacity: 1; } 
  88%   { opacity: 1; } 
  90%   { opacity: 0; } 
  100%  { opacity: 0; } 
}

@keyframes cycleten {
  0%    { opacity: 0; } /*1 second = 2%*/
  88%   { opacity: 0; } 
  90%   { opacity: 1; } 
  98%   { opacity: 1; } 
  100%  { opacity: 0; } 
}

/*Full keyframe cycle*/
/*@keyframes cycle {
  0%    { opacity: 1; }
  4%    { opacity: 1; }
  8%    { opacity: 1; } 
  12%   { opacity: 1; } 
  16%   { opacity: 1; } 
  20%   { opacity: 0; } 
  24%   { opacity: 0; } 
  28%   { opacity: 0; } 
  32%   { opacity: 0; } 
  36%   { opacity: 0; } 
  40%   { opacity: 0; } 
  44%   { opacity: 0; } 
  48%   { opacity: 0; } 
  52%   { opacity: 0; } 
  56%   { opacity: 0; }
  60%   { opacity: 0; }
  64%   { opacity: 0; }
  68%   { opacity: 0; }
  72%   { opacity: 0; }
  76%   { opacity: 0; }
  80%   { opacity: 0; }
  84%   { opacity: 0; }
  88%   { opacity: 0; }
  92%   { opacity: 0; }
  96%   { opacity: 0; }
  100%  { opacity: 1; }
}*/


    /**********************
    *******FOOTER**********
    ***********************/


            .copyright p {
                padding: 0;
                margin-right: 0%;
                margin-top: 4%;
                margin-bottom: 4%;
                font-size: 15px;
                width: 100%;
                float: right;
                text-align: right;
                color: lightgray;
                /*border-style: solid;
                border-color: black;*/
            }

            #fixedcopy{
                display: block;
                position: absolute;
                right:12.5%;
                bottom: 6%;

            }


    /********PAGE**********
    *******CONTACT*********
    ***********************/



    #contact {
        margin-top: 15%;
    }

        #contact h4{
            font-size: 16pt;
            font-weight: 600;
        }


        #contact h3{
            font-size: 14pt;
            margin-top: 30pt;
            margin-bottom: 8pt;

        }

        #contact li{
            font-size: 10pt;
            line-height: 20pt;
        }

        #contact p{
            font-size: 10pt;
            margin-top: 10pt;
        }



    /**********************
    ******RESPONSIVE*******
    ***********************/



    @media screen and (max-width: 980px) {}

    @media screen and (max-width: 750px) {

    header h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 4%;

            }

        .navigation {
            width: 100%;
        }

        .navigation ul{
            margin:auto;
            text-align: center;
            float: none;
        }

        #slideshow{
            margin-top: 15%;
        }

    }

    @media screen and (max-width: 500px) {

        header h1{
            display: none;
        }

        .smallmenu{
        display: block;

        }


        .smallmenu h1 {
    width: 80%;
    text-align: right;
    float: right;
    margin-bottom: 4%;

            }

        .navigation{
        display: none;
        }


        span {
        display: block;
        float: left;
        margin: auto;
        }

        span:hover {
        color:lightgray;
        }

        .sidenav{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: lightgray;
            overflow-x: hidden;
            transition: 0.5s;
            padding: 0;
            text-align: center;
            padding-top:3.5%;
            margin:0;
            }

        .sidenav ul{
            padding-top: 5%;

        }
                   .sidenav li a{ 
                        text-decoration:none;
                        color:grey;
                        font-size:20px;
                       line-height: 40px;
                        font-weight: 100;
                    }   

                    .sidenav ul li a:hover{
                        color:lightgray;

                    }
        .closebtn{
            text-decoration: none;
            color: gray;
        }

            #slideshow{
            margin-top: 15%;
        }