body{
    background-color: #FFFFFF;
    font-family: "minion-pro", serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    /*border-style: solid;
    border-color: black;*/
    margin: auto;
    color: #9cac3b;
}


/**********************
******SIDENAV**********
***********************/


.sidenav{
        display: none;
        
    }

        .smallmenu{
            display: none;
            background: none;
            width: 85%;
            padding: 0;
            margin-left: 7.5%;
            margin-right: 7.5%;
            margin-top: 8%;
            border:none;
            
        }

        .smallmenu:focus {outline:0;}

            .smallmenu div{
                text-align: left;
                float: left;
                overflow: hidden;
                width: 35%;
                }

                .smallmenu div img{
                    width: 100%;
                }

        .smallmenu span {
            font-size: 40px;
            width: 64%;
            float: right;
            color: #9cac3b;
            text-align: right;
        }


        .mfooternav{
            font-size: 40px;
            line-height: 50px;
        }

        .sfooternav{
            font-size: 25px;
            line-height: 50px;
        }



/**********************
******NAVIGATION*******
***********************/

    header {
        width: 100%;
        height: 10%;
        padding-top: 1%;
        margin-bottom: 5%;
        margin-top: 0%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: +1;
        background-color: white;
    }


        header div{

            /*border-style: solid;
            border-color: red;*/
            float: left;
            width: 13.5%;
            margin-left: 7.5%;
            margin-top: 0.55%;
        }

        header div img{
            width: 100%;
        }



    .navigation{
        /*width: 500px;*/
        /*border-style: solid;
        border-color: green;*/
        margin-top: 1%;
        margin-right: 7.5%;
        padding: 0;
        float: right;
        align-items: flex-end;
        width: 40%;
    }


        .navigation ul{
            /*width: 450px;*/
            /*border-style: solid;
            border-color: red;*/
            float: right;
            margin: 0;
            padding: 0;
            text-align: right;
            padding-top: 10px;
        }


            .navigation li{
                display: inline;
                /*border-style: solid;
                border-color: grey;*/
                padding: 0;
                margin-right: 15px;
                margin-left: 0;
                margin-bottom: 0;
                margin-top: 0;
                align-items: flex-end;
            }

            .navigation #lastli{
                margin-right: 0px;

            }
            
               .navigation li a{ 
                    text-decoration:none;
                    color:#9cac3b;
                    font-size:20px;
                    font-weight: 500;

                }   

                .navigation ul li a:hover{
                    color:lightgray;
}


    /******************************
    ****left & right navigation****
    *******************************/


 #rotateleft {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: +1;
        width: 7%;
        writing-mode: vertical-lr;
        transform: rotate(180deg); 
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
     
     
}



                #rotateleft a{ 
                    text-decoration:none;
                    color:#9cac3b;
                    font-size:20px;
                    font-weight: 500;

                }   

                 #rotateleft a:hover{
                    color:lightgray;
                     
                      }  
                #rotateright a{ 
                    text-decoration:none;
                    color:#9cac3b;
                    font-size:20px;
                    font-weight: 500;

                }   

                 #rotateright a:hover{
                    color:lightgray;
                     
                      }  

    .descriptionleft{
        float: left;
        color: #9cac3b;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 35%;

    }

 #rotateright {
        position: fixed;
        top: 0;
        right: 0;
        z-index: +1;
        width: 7%;
        writing-mode: vertical-lr;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;


}

    .descriptionright{
        float: right;
        color: #9cac3b;
        font-size:20px;
        font-weight: 500;
        margin-bottom: 20%;

    }

/**********************
*******MAIN************
*******INFO************
***********************/




#maininfo {
    
    width:85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    float: left;
    margin-top: 5%;
    margin-bottom: 10%;     
}

#maininfo1 {
    
    float: left;
    width:38%;
    font-style: italic;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    margin-left: 0%;
    padding-top: 5.5%;
    font-weight: 500; 

}


#maininfo2 {
    float: right;
    width: 45%;
    font-size: 30px;
    line-height: 42px;
    margin-right: 2%;
    padding-left: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-left: 3px solid #9cac3b;
}


#maininfo2german {
    float: left;
    align-content: center;
    width: 50%;
    font-size: 30px;
    line-height: 42px;
    padding-left: 28%;
    padding-top: 20%;
    padding-bottom: 10%;
    
}

#maininfo2mobile {
    display: none;
}

/**********************
*******Interactive*****
***********************
***********************/

#interactive1{
width: 100%;
    height: 10px;
    float: left;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin-bottom: 2%;


}

#interactive2{
width: 100%;
    height: 10px;
        float: left;
        font-size: 28px;
    text-align: center;
        font-style: italic;
        margin-bottom: 2%;


}

#arabic {
    
    width:10%;
    float: left;
    left: 20%; 
    top: 200%;
    position: relative;
    animation-name: arabic;
    animation-duration: 60s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;         

}

@keyframes arabic {
  0%   {left:20%; top:200%;}
  25%  {left:80%; top:4500%;}
  50%  {left:40%; top:2500%;}
  75%  {left:0%; top:2000%;}
  100% {left:20%; top:200%;}
}


#german {
    
    width:20%;
    height: 100%;
    float: right;
    right:20%;
    top:180%;
    position: relative;
  animation-name: german;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction:normal;         
}


@keyframes german {
  0%   {right:20%; top:180%;}
  25%  {right:80%; top:4000%;}
  50%  {right:60%; top:5000%;}
  75%  {right:0%; top:1500%;}
  100% {right:20%; top:180%;}
}

#english {
    
    width:10%;
    height: 100%;
        float: left;
        position: relative;
    left:30%; 
    bottom:200%;
  animation-name: english;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-direction:normal;         
}

@keyframes english {
  0%   {left:30%; bottom:200%;}
  25%  {left:80%; bottom:4500%;}
  50%  {left:0%; bottom:4000%;}
  75%  {left:30%; bottom:2000%;}
  100% {left:30%; bottom:200%;}
}




/**********************
*******GALLERY*********
******SLIDESHOW********
***********************/

#bigpic {
    margin-bottom: 5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 10%;
    width: 85%;
    /*border: solid red;*/
    }

    #slideshow {
    margin-bottom: 5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
        margin-top: 10%;
    width: 70%;
    /*border: solid red;*/
    }

        #slideshow img{
            width: 100%;
        }


.animate-fading{animation:fading 6s infinite}@keyframes fading{0%{opacity:0}20%{opacity:1}50%{opacity:1}70%{opacity:1}100%{opacity:0}}



    /**********************
    *******FOOTER**********
    ***********************/

            .copyright p {
                padding-top: 4%;
                padding-bottom: 4%;
                padding-left: 2%;
                font-size: 20px;
                float: right;
                color: #9cac3b;
                /*border-style: solid;
                border-color: black;*/
            }


            #webcopyright {
                width: 85%;
                margin-left: 7.5%;
                margin-right: 7.5%;
            }


            .copyright p a {  
                text-decoration:none;
                color:#9cac3b;
            }

            .copyright p a:hover {
                color:lightgray;
            }


    /**********************
    ******RESPONSIVE*******
    ***********************/




/****Desktop/BigLaptop**********/


    @media screen and (min-width: 1600px){
        
         /***home***/
        
        .navigation li a {
            font-size: 25px;
            }  
        
        .descriptionleft {
            font-size: 25px;
            }  
        
        .descriptionright {
            font-size: 25px;
            }  
        
        .copyright p {
            font-size: 25px;
            }  
        
        #fixedcopy {
                bottom: -130%;
            }
        
        #maininfo2 {
            font-size: 37px;
            line-height: 49px;
            margin-left: 4%;

            }
        
        #maininfo1 {
            font-size: 68px;
            line-height: 80px;
            }        
    }

/****Desktop/XL**********/

    @media screen and (min-width: 2000px) {
        
        header {
            height: 150px;   
        }
        
        .navigation li a {
            font-size: 30px;
            }  
        
        .descriptionleft {
            font-size: 30px;
            }  
        
        .descriptionright {
            font-size: 30px;
            }  
        
        .copyright p {
            font-size: 30x;
            }  

        
        #maininfo2 {
            font-size: 45px;
            line-height: 58px;
            margin-left: 4%;

            }
        
        #maininfo1 {
            font-size: 85px;
            line-height: 95px;
            }        
    }


/****mediumLaptop*********/

    @media screen and (max-width: 1300px) {

        header div{
            width: 14.5%;
            margin-top: 0.5%;

        }  
        
        .descriptionleft{
            display: none;
        }

        .descriptionright{
            display: none;
    }
        
        #maininfo1 {
            font-size: 47px;
            line-height: 57px;
            margin-left: 0%;

            
        }
        
        #maininfo2 {
            font-size: 24px;
            line-height: 34px;
            
        }

        
        #interactive1{
            font-size: 24px;
            }
        
                
        #interactive2{
            font-size: 24px;
            }
        

        
        }

/****smallLaptop*********/

    @media screen and (max-width: 1100px) {
            
        header {
            height: 80px;   
        }
        
        
        header div{
            width: 16%;
            margin-top: 0.75%;

        }      
                    
        .descriptionleft{
            display: none;
        }

        .descriptionright{
        display: none;
            
        }
        
        
        #maininfo {
            margin-top: 12%;
            
        }
        
        #maininfo1 {
            font-size: 42px;
            line-height: 52px;
            
        }
        
        #maininfo2 {
            font-size: 22px;
            line-height: 32px;
            
        }

        
        #interactive1{
            font-size: 21.5px;
         }
        
                
        #interactive2{
            font-size: 21.5px;
            }
        

        
    }


/****TABLET Big*********/

    @media screen and (max-width: 900px) {
        
        
        header div{
            width: 17%;
            margin-top: 1.25%;

        }
        
        #maininfo {
            margin-top: 14%;
            
        }
        
        #maininfo1 {
            font-size: 36px;
            line-height: 46px;
            
        }
        
        #maininfo2 {
            font-size: 20px;
            line-height: 30px;
            
        }
        
        #interactive1{
            font-size: 18.5px;
         }
        
                
        #interactive2{
            font-size: 18.5px;
            }    
    }
        
        
        
/****TABLET*********/
        
    @media screen and (max-width: 780px) {
        
        
        #bigpic{
            width:100%;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 10%;
            }
        
        .descriptionleft{
            display: none;
        }

        .descriptionright{
        display: none;
            
            
        }

        header {
            display: none;
        }

        .smallmenu{
        display: block;
        }


        .smallmenu span {
        display: block;
        float: right;
        }

        .smallmenu span:hover {
        color:lightgray;
        }

        .sidenav{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #9cac3b;
            overflow-x: hidden;
            transition: 0.5s;
            padding: 0;
            text-align: center;
            padding-top:3.5%;
            margin:0;
            }

        .sidenav ul{
            padding-top: 5%;

        }
        .sidenav li a{ 
            text-decoration:none;
            color:white;
        }   

        .sidenav ul li a:hover{
            color:lightgray;
        }
        
        
        
        .closebtn{
            text-decoration: none;
            color: white;  
        }
        
        .copyright 
        
        #mail{
            display: none;
        }
    
        #privacy{
            display: none;
        }
    
        #imprint{
            display: none;
        }
        
         #maininfo1 {
    
            float: left;
            width:100%;
            font-size:60px;
            line-height: 70px;
            margin-left: -4%;
            margin-right: 0%;
            padding: 0;
            text-align: center;
            align-content: center;
            margin-top: 0%;
            padding: 0%;
             
        }

        #maininfo2 {
            display: none;

        }
        
        #interactive1{
            display: none;
        }  

        #interactive2{
            display: none;
        }   
        
        
        
        #slideshow {
            width: 100%;
            margin: 0%;
        }
        
        #maininfo2mobile {
            display: block;
            float: left;
            width:85%;
            font-size: 30px;
            line-height: 40px;
            margin-left: 7.5%;
            margin-right: 7.5%;
            margin-top: 10%;
            margin-bottom: 10%;
            padding: 0%;
        }
        
        
    }
        
        
/****Mobile*********/
        
        

    @media screen and (max-width: 555px) {
        
        #bigpic{
            width:100%;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 5%;

        }
        
        .smallmenu{
            margin-bottom: 0%;
        }
        
        
        .smallmenu div{
            width: 55%;
        }
        
        .smallmenu span {
            width: 45%;
        }
        
        
    #maininfo1 {
        float: left;
        width:100%;
        font-size:40px;
        line-height: 50px;
        margin-left: -4%;
        margin-right: 0%;
        text-align: center;
        margin-top: 0%;
        }


    #maininfo2mobile {
        float: left;
        font-size: 28px;
        line-height: 38px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
        
    #interactive1{
        display: none;
         }  

    #interactive2{
        display: none;
         }   
        
        
    #slideshow {
        width: 100%;
        margin-bottom:10%; 
    }
        
        
         }
        
        
        
/****mini mobile*********/
        

    @media screen and (max-width: 340px) {
        
        #bigpic{
            width:100%;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 5%;

        }
        
        #maininfo1 {
            font-size:32px;
            line-height: 42px;
        }
        
        
        #maininfo2mobile {
        font-size: 22px;
        line-height: 32px;
    }
        
        
        }
        
        
        