/**********************
*****Navi projects*****
***********************/

#navprojects {
        position: fixed;
        top: 0;
        left: 0;
        z-index: +1;
        width: 100%;
        margin-top: 47%;
        padding: 0;
        font-size:35px;
        font-weight: 500;
        font-style: italic;
}


    .previous{
        float: left;
        margin-left: 7.5%;
        padding: 0;
        text-decoration:none;
        color:#9cac3b;

    }
    .next {
        float: right;
        margin-right: 7.5%;
        padding: 0;
        text-decoration:none;
        color:#9cac3b;
        
    }

.previous:hover{
    color: lightgrey;
}

.next:hover{
    color: lightgrey;
}


    /**********************
    *******Content**********
    ***********************/


#content {
    /*border: solid black;*/
    overflow: hidden;
    margin-bottom: 4%;
    width: 85%;
    height: auto;
    margin-top: 10%;
    margin-right: 7.5%;
    margin-left: 7.5%;
}


    .text{
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        color: #9cac3b;
    /*border: green solid;*/
    }

    .text h2{
        font-size: 45px;
        line-height: 55px;
        font-style: italic;
        font-weight: 500;
        width: 80%;
        float: left;
        position: absolute;
        margin-top: 12%;
        /*border: solid black;*/
    }

    .description{
        column-count: 2;
        widows: 4;
        orphans: 9;
        margin-top: 10%;
        margin-bottom: 3%;
        float: left;
        width: 100%;
        overflow: hidden;
        font-size: 23px;
        line-height: 33px;
        column-gap: 8%;
        column-rule-style: solid ;
        column-rule-width: 2.5px ;
        /*height: 230px;*/
        /*border: solid black;*/
    }

 

    .info {
        /*border: solid black;*/
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 22px;
        float: left;
        text-align:right;
        width: 100%;
        color:#9cac3b; 
        text-align: left;



    }


    .mainimg{
        width: 70%;
        /*border: solid black;*/
        float: right;
        padding: 0;
    }

        .mainimg img{
            width: 100%;
            float: right;

        }


#lastpic{
    width: 70%;
    float: none;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 60px;
}




/**********************
********GALLERY********
***********************/


    .pictures {
        width: 85%;
        margin-right: 7.5%;
        margin-left: 7.5%;
    }

        .pictures .outcome{
            width: 100%;
            height: inherit;
            margin-top: 4%;
            margin-bottom: 4%;
        }

        .making1{
            width: 100%;
            margin-bottom: 4%;
            margin-top: 4%;
        }

        .making2{
            width: 100%;
            margin-bottom: 4%;
            margin-top: 4%;
        }


        .quotes{
            font-size: 20px;
            width: 60%;
            margin: auto;
            line-height: 35px;
            padding-bottom: 10%;
            padding-top: 10%;

        }

        .hquotes{
        font-size: 40px;
        line-height: 55px;
        font-style: italic;
        font-weight: 500;
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;

        /*border: solid black;*/
    }


.ludwig {
    margin-bottom: 5%;
    margin-top: 0;
}

.ludwig a{
    text-decoration: none;
    color: grey;
    
}


        h4{
            font-size: 18px;
            margin-top: 30px;
        }

.arabicfont {
    font-family: "Lateef", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
        }


    /**********************
    *******FOOTER**********
    ***********************/


            #webcopyright {
                width: 85%;
                margin-left: 7.5%;
                margin-right: 7.5%;
            }


   /**********************
    ******RESPONSIVE*******
    ***********************/


    /****Desktop/BigLaptop**********/


    @media screen and (min-width: 1600px) {
        
         /***project***/
        
        .text h2 {
            font-size: 55px;
            line-height: 65px;
            margin-top: 10%;
        }
         
        #navprojects {
        font-size: 45px;
        }  
            
        .description {
            font-size: 28px;
            line-height: 40px;

            }
            
        .description .info {
        font-size: 22px;
        line-height: 25px;
        text-align: left;

            }
}

    @media screen and (max-width: 1350px) {
        .text h2 {
            font-size: 40px;
            line-height: 50px;
            margin-top: 7%;
        }

    }

    @media screen and (max-width: 980px) {
            .text h2 {
            font-size: 30px;
            line-height: 40px;
            margin-top: 6%;
            }
        
        
            #navprojects {
            margin-top: 48%;
            font-size: 27px;
        }
    }
    
    
    
   /****Tablet*********/

    @media screen and (max-width: 780px) {   
        

         #content {
            margin-top: 3%;
        }
            
        #navprojects {
            margin-top: 48%;
            font-size: 27px;
        }
             
        .description {
        column-count: 1;
        }  
        
        
        .mainimg {
        width: 100%;
        }
        
        .text h2{
            font-size: 30px;
            line-height: 40px;
            font-style: italic;
            font-weight: 500;
            width: 100%;
            float: left;
            margin-top: 0%;
            margin-bottom: 10%;
            position:relative;
            text-align: center;
            height: 200px;
        }
        
        
        
                        

        }

    @media screen and (max-width: 600px) {

       #content{
           width: 100%;
           margin-left: 0%;
           margin-right: 0%;
           
        }
        
            .text h2{
            font-size: 28px;
            line-height: 37px;
            margin-left: -5%;
            height: 220px;
                width: 100%;
            }
        .description{
            width: 85%;
            margin-left: 7.5%;
            margin-right: 7.5%;
        
         }
        
    .pictures {
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
        
        #navprojects {
            margin-top: 80%;
            font-size: 26px;
        }
        
        #mail{
            display: none;
        }
    
        #privacy{
            display: none;
        }
    
        #imprint{
            display: none;
        }   

   
}