/**********************
*********TEXT**********
***********************/

#navprojects{
        position: fixed;
        top: 0;
        left: 0;
        z-index: +1;
        width: 100%;
        margin-top: 25%;
        padding: 0;
}

    .previous{
        float: left;
        margin-left: 2%;
        padding: 0;
        color: gray;
    }
    .next {
        float: right;
        margin-right: 2%;
        padding: 0;
        color: grey;
    }
.previous:hover{
    color: lightgrey;
}

.next:hover{
    color: lightgrey;
}


/*#backgallery {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        margin-top: 46%;
        float: right;   
}

*/

#backgallery{
    width: 100%;
    text-align: center;
}

    .back{
        padding: 0;
        text-decoration: none;
        font-size:18px;
        color: gray;
    }
        .back:hover{
            color: lightgrey;

        }

/*.background {
    z-index: -1;
    top: 0px;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: url(../Images/stars.png);
    background-size: 100%;
    background-repeat: no-repeat;
}*/

/*.background{
    z-index: -1;
    top: 35%;
    right: 8%;
    position: absolute;
    width: 60%;
    height: 30%;
    background-color: lightgrey;
}*/


#content {
    /*border: solid black;*/
    overflow: hidden;
    margin-bottom: 4%;
    width: 100%;
    height: auto;
    margin-top: 8%;
}


    .text{
        width: 41%;
        float: left;
        font-size: 14px;
        line-height: 22px;
        padding: 0;
        margin: 0;
        /*border: green solid;*/
    }

    .text h2{
        font-size: 21px;
        line-height: 28px;
        font-weight: 900;
        /*border: solid black;*/
    }

    .description{
        margin-top: 6%;
        margin-bottom: 3%;
        font-weight: 400;
        overflow: hidden;
        /*height: 230px;*/
        /*border: solid black;*/
    }
    .info{
        /*border: solid black;*/
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
    }


    .mainimg{
        width: 55%;
        /*border: solid black;*/
        float: right;
        padding: 0;
    }

        .mainimg img{
            width: 100%;
            float: right;

        }



/**********************
********GALLERY********
***********************/


    .pictures {
        width: 100%;
    }

        .pictures .outcome{
            width: 100%;
            height: inherit;
            margin-top: 4%;
            margin-bottom: 4%;
        }

        .making1{
            width: 100%;
            margin-bottom: 4%;
            margin-top: 4%;
        }

        .making2{
            width: 100%;
            margin-bottom: 4%;
            margin-top: 4%;
        }


        .quotes{
            font-size: 20px;
            width: 60%;
            margin: auto;
            line-height: 35px;
            padding-bottom: 10%;
            padding-top: 10%;

        }

        .hquotes{
        font-size: 22px;
        line-height: 32px;
        font-weight: 900;
        margin: auto;
        margin-top: 10%;
        padding-bottom: 5%;
        /*border: solid black;*/
    }


.ludwig {
    margin-bottom: 5%;
    margin-top: 0;
}

/**********************
******RESPONSIVE*******
***********************/
@media screen and (max-width: 980px) {


    #navprojects{
        margin-top: 35%;
    }
    
        #content{
        margin-bottom: 4%;
    }
    
    
        .description{
            margin-top: 4%;}
    
    .mainimg {
        float: none;
        width: 100%;
        margin-top: 8%;
    }
    
    .text {
        float: none;
        width: 100%;
        margin-bottom: 4%;
    }
    
    .background {
        display: none;
    }
}
    
    
    
       @media screen and (max-width: 750px) {

    header h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 4%;

            }

        .navigation {
            width: 100%;
        }

        .navigation ul{
            margin:auto;
            text-align: center;
            float: none;
        }

        #slideshow{
            margin-top: 15%;
        }
           
           
        #navprojects{
        margin-top: 55%;
    }
    
    .quotes{
        font-size: 16px;
        line-height: 28px;
    }                 

}

    @media screen and (max-width: 500px) {

        header h1{
            display: none;
        }

        .smallmenu{
        display: block;

        }


        .smallmenu h1 {
    width: 80%;
    text-align: right;
    float: right;
    margin-bottom: 4%;

            }

        .navigation{
        display: none;
        }


        span {
        display: block;
        float: left;
        margin: auto;
        }

        span:hover {
        color:lightgray;
        }

        .sidenav{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: lightgray;
            overflow-x: hidden;
            transition: 0.5s;
            padding: 0;
            text-align: center;
            padding-top:3.5%;
            margin:0;
            }

        .sidenav ul{
            padding-top: 5%;

        }
                   .sidenav li a{ 
                        text-decoration:none;
                        color:grey;
                        font-size:20px;
                       line-height: 40px;
                        font-weight: 100;
                    }   

                    .sidenav ul li a:hover{
                        color:lightgray;

                    }
        .closebtn{
            text-decoration: none;
            color: gray;
        }

            #slideshow{
            margin-top: 15%;
        }
        
        #navprojects{
        display: none;
        }
        
            .quotes{
            width: 100%;

        }
        
}