#resume{
    margin-top: 14%;
}

#resume h4{
    font-size: 16pt;
    font-weight: 600;
}


#resume h3{
    font-size: 14pt;
    margin-top: 30pt;
    margin-bottom: 8pt;

}

#resume li{
    font-size: 10pt;
    line-height: 20pt;
}

#resume p{
    font-size: 10pt;
    margin-top: 10pt;
}