#resume{
    margin-top: 15%;
}

#resume h4{
    font-size: 16pt;
    font-weight: 600;
}


#resume h3{
    font-size: 14pt;
    margin-top: 30pt;
    margin-bottom: 8pt;

}

#resume li{
    font-size: 10pt;
    line-height: 20pt;
}

#resume p{
    font-size: 10pt;
    margin-top: 10pt;
}


@media screen and (max-width: 500px) {
    
    #resume h4{
    font-size: 14pt;
    font-weight: 600;
}


#resume h3{
    font-size: 12pt;

}

#resume li{
    font-size: 8pt;
}

#resume p{
    font-size: 8pt;
}