.gallery{
    width: 85%;
    align-self: center;
    overflow: visible;
    margin-top: 10%;
    margin-left: 7.5%;
    margin-right: 7.5%;

}



    .workshop{
        width: 100%;
        margin: 0%;
        margin-bottom: 6%;
        float: left;
        padding: 0;
    }



            .text{
            width: 30%;
            float: right;
            padding: 0;
            margin: 0;
                text-decoration:none;
                color: #9cac3b;
                font-size:30px;
                line-height:40px;
                font-weight: 100;
                text-align: center;
                font-style: italic;
                font-weight: 500;
                margin-top: 20%;
            }


            .workshop img{
                width: 70%;
                display: block;
                float: left;

            }






    /**********************
    *******FOOTER**********
    ***********************/



            #webcopyright {
                width: 85%;
                margin-left: 7.5%;
                margin-right: 7.5%;
            }


    /**********************
    ******RESPONSIVE*******
    ***********************/

    /****Desktop/BigLaptop**********/

    @media screen and (min-width: 1600px) {
    
        .text{
            font-size:40px;
            line-height:50px;
        }
    }


/******Desktop/XL**********/

    @media screen and (min-width: 2000px) {
        
        .text{
            font-size:45px;
            line-height:55px;
        }
        
        
         }  


/****smallLaptop*********/

    @media screen and (max-width: 1100px) {

    .gallery{
        margin-top: 13%;
    
            }
    }


@media screen and (max-width: 780px) {
    
        .workshop{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4%;
    }
}



/****Mobile*********/
@media screen and (max-width: 555px) {

    .gallery{
    width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        float:left;

         }
    
        .workshop   {
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
        float:left;

            
    }

    
    
    .workshop img{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;      
        padding: 0%;
        }
        
    
            .text{
            width: 100%;
            font-size:22px;
            line-height:32px;
            padding: 0%;
            margin-top: 5%;
            margin-bottom: 5%;  
            margin-left:0%;
            margin-right:0%;


        }
    
    
    #mail{
            display: none;
        }
    
    #privacy{
            display: none;
        }
    
    #imprint{
            display: none;
    }   
} 
    
    
    /****MiniMobile*********/

@media screen and (max-width: 340px) {
    
    
    .gallery{
    width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;

         }
    
        .workshop   {
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;

            
    }

    
    
    .workshop img{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;      
        padding: 0%;
        }
        
    
            .text{
            width: 100%;
            font-size:22px;
            line-height:32px;
            padding: 0%;
            margin-top: 5%;
            margin-bottom: 5%;  
            margin-left:0%;
            margin-right:0%;

        }
    
    
    #mail{
            display: none;
        }
    
    #privacy{
            display: none;
        }
    
    #imprint{
            display: none;
    }   
    
}
