


        .servicesworkshops{
           width: 100%;
           margin-left: 0%;
            overflow: hidden;

        }


                .servicesworkshops h1{
                    margin-left: 20%;
                    margin-right: 1%;
                    float: left;
                    font-size: 40px;
                    font-style: italic;
                    text-align: right;
                    font-weight: 500;
                    padding-top: 4%;
                }

                    .servicesworkshops p{
                    width: 48%;
                    margin-left:1%;
                    margin-right:1%;
                    float: right;
                    font-size: 23px;
                    line-height: 33px;
                    font-weight: 500;
                    margin-bottom: 5%;
                    padding: 0;


                }




.gallery{
    width: 87%;
    align-self: center;
    overflow: visible;
    margin-top: 10%;
    margin-left: 6.5%;
    margin-right: 6.5%;

}

#workshoppics{
        width: 100%;
        margin-left: 0%;
        margin-right: 0;
        overflow: hidden;
        margin-bottom: 5%;

}

    .workshop{
        width: 48%;
        margin-left:1%;
        margin-right:1%;
        margin-top: 0%;
        margin-bottom: 2%;
        float: left;
        position: relative;
        padding: 0;
    }



            .workshop .text{
            width: 100%;
            float: left;
            padding: 0;
                margin-left: 0;
                text-decoration:none;
                color: #9cac3b;
                font-size:23px;
                line-height:40px;
                font-weight: 100;
                text-align: left;
                font-style: italic;
                font-weight: 500;
                margin-bottom: 5%;
            }


            .workshop img{
                width: 100%;
                display: block;
                float: left;

            }






    /**********************
    *******FOOTER**********
    ***********************/



            #webcopyright {
                width: 85%;
                margin-left: 7.5%;
                margin-right: 7.5%;
            }


    /**********************
    ******RESPONSIVE*******
    ***********************/

    /****Desktop/BigLaptop**********/

    @media screen and (min-width: 1600px) {
    
        .text{
            font-size:40px;
            line-height:50px;
        }
        
        
        .servicesworkshops h1{
            font-size: 50px;
                }    
                  
        .servicesworkshops p{
            font-size: 28px;
            line-height: 40px;

                }
    }




/******Desktop/XL**********/

    @media screen and (min-width: 2000px) {
        
        .text{
            font-size:45px;
            line-height:55px;
        }
        
        
                .servicesworkshops h1{
                    font-size: 70px;
                }    
                  
                .servicesworkshops p{
                    font-size: 35px;
                    line-height: 48px;

                }
        
         }  


/****smallLaptop*********/

    @media screen and (max-width: 1100px) {

    .gallery{
        margin-top: 13%;
    
            }
        
        .servicesworkshops h1{
            font-size: 40px;
            margin-left: 15%;

                }    
                  
        .servicesworkshops p{
            font-size: 25px;
            line-height: 35px;

                }
    }



/****TABLET Big*********/


 @media screen and (max-width: 900px) {
     
                .servicesworkshops h1{
                    font-size: 33px;

                }    
                  
                .servicesworkshops p{
                    font-size: 20px;
                    line-height: 30px;

                }

}




/****Tablet*********/
@media screen and (max-width: 780px) {

    .gallery{
    width: 100%;
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        padding:0;
        float: right;


         }
    
        .workshop   {
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
        float: right;


            
    }

    
    
    .workshop img{
        float: right;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;      
        padding: 0%;
        }
        
    
            .text{
            width: 100%;
            padding: 0%;
            margin-top: 10%;
            margin-bottom: 10%;  
            margin-left:0%;
            margin-right:0%;
            font-size: 28px;
            line-height: 37px;


        }
    
            .servicesworkshops h1 {
            width: 100%;
            text-align: left;
            margin-bottom: 10%;
            font-size: 40px;
        }
        
        .servicesworkshops p{
            width: 85%;
            margin-left: 7.5%;
            margin-right: 7.5%;
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15%;
        }
    
    
    #mail{
            display: none;
        }
    
    #privacy{
            display: none;
        }
    
    #imprint{
            display: none;
    }   
} 
    
  /****Mobile*********/

    @media screen and (max-width: 555px) { 


 .servicesworkshops h1 {
            text-align: left;
            margin-bottom: 10%;
            font-size: 30px;
        }
        
        .servicesworkshops p{
            font-size: 22px;
            line-height: 32px;
        }

.workshop{
        margin-bottom: 10%;
} 

}  

